@charset "UTF-8";
#header {
	position: fixed;
	height: 40px;
	width:100%;
    z-index: 999;
	display: flex;
    align-items: center;
	background: #fff;
	color: #fff;
	text-align: center;
	padding: 20px;
    box-shadow:0 0 5px 3px #ddd;
}
#logo {
    justify-content: left;
}